<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{/asserts/layui/css/layui.css}"><link rel="stylesheet" href="" th:href="@{/asserts/css/layui-theme-custom.css}">
    <link rel="stylesheet" href="../static/css/mystyle.css" th:href="@{/asserts/css/mystyle.css}">
    <title>留言列表</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="commons/bar::topbar"></div>

    <div th:replace="commons/bar::sidebar(activeUri='messages.html')"></div>

    <div class="layui-body" style="margin-right: 30px;">
        <div style="padding: 50px;">
            <div class="layui-fluid">
                <div class="layui-card">
                    <div class="layui-card-header">留言列表</div>
                    <div class="layui-card-body">

                        <div class="demoTable" style="float: left">
                            <div class="layui-inline">
                                <input class="layui-input" id="content" autocomplete="off" placeholder="输入你想要查找信息">
                            </div>
                            <button class="layui-btn" id="search" type="button"><i
                                    class="layui-icon layui-icon-search"></i>搜索
                            </button>
                        </div>

                        <!--数据表格-->
                        <table class="layui-table" id="messageTable" lay-filter="messageTable" lay-skin="line"></table>

                        <script type="text/html" id="toolbarTop">
                            <div class="layui-btn-container demoTable">
                                <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delArticles">删除
                                </button>
                                <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="flagRead">标记已读
                                </button>
                            </div>

                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="commons/bar::footer"></div>
</div>
<script src="../static/layui/layui.js" th:src="@{/asserts/layui/layui.js}"></script>
<script type="text/javascript" src="asserts/js/jquery-3.2.1.slim.min.js"
        th:src="@{webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/asserts/js/myjs.js}"></script>

<script>

    //JavaScript代码区域
    layui.use(['element', 'table'], function () {
        var element = layui.element;
        var table = layui.table;

        table.on('checkbox(test)', function (obj) {
            console.log(obj)
        });

        var tableIns = table.render({
            elem: '#messageTable'
            , url: '/VBlog/messages'
            , page: true
            , toolbar: true
            , loading: true
            , limit: 5
            , id: 'messageTable'
            , text: {
                none: '暂无内容'
            }
            , height: window.innerHeight * 0.75
            , width: window.innerWidth * 0.75
            , limits: [5, 10, 20, 50]
            , title: '留言列表'
            , toolbar: '#toolbarTop'
            , initSort: {
                field: 'createTime' //排序字段，对应 cols 设定的各字段名
                , type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field: '', align: 'center', title: '编号', sort: true, type: 'numbers', width: '5%'}
                    , {field: 'id', align: 'center', title: 'id', hide: true, sort: true, width: '7%'}
                    , {
                    field: 'read', align: 'center', title: '状态', sort: true, width: '7%',
                    templet: function (d) {
                        return d.readStatus == '1' ? '已读' : '未读';
                    }
                }
                    , {field: 'logTime', align: 'center', title: '日期', sort: true, width: '17%'}
                    , {field: 'strangerName', align: 'center', title: '陌生人昵称', sort: true, width: '10%'}
                    , {field: 'content', align: 'center', title: '留言内容', width: '43%'}
                    , {field: 'contact', align: 'center', title: '联系方式', width: '15%'}

                ]
            ]
        })


        //头工具栏事件
        table.on('toolbar(messageTable)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'delArticles':
                    var data = checkStatus.data;
                    var trs = obj.tr;
                    var ids = new Array();
                    for (var i in data) {
                        ids.push(data[i].id);
                    }
                    if (ids.length == 0)
                        layer.msg("请先选择！")
                    else
                        layer.confirm("是否确定删除这" + ids.length + "篇留言？", function (index) {
                            layer.close(index);
                            $.ajax({
                                url: "/VBlog/message",
                                data: "ids=" + ids,
                                type: "DELETE",
                                dataType: "json",
                                success: function (data) {
                                    layer.msg("删除成功!");
                                    tableIns.reload();
                                },
                                error: function (data) {
                                    layer.msg("删除失败!");
                                    // tableIns.reload();
                                }
                            });
                        });
                    break;
                case 'flagRead':
                    var data = checkStatus.data;
                    var trs = obj.tr;
                    var ids = new Array();
                    for (var i in data) {
                        ids.push(data[i].id);
                    }
                    if (ids.length == 0)
                        layer.msg("请先选择！")
                    else
                        layer.confirm("是否确定已读这" + ids.length + "条留言？", function (index) {
                            layer.close(index);
                            $.ajax({
                                url: "/VBlog/message/read",
                                data: "ids=" + ids,
                                type: "post",
                                dataType: "text",
                                success: function (data) {
                                    layer.msg("标记成功!");
                                    tableIns.reload();
                                },
                                error: function (data) {
                                    layer.msg("操作失败!");
                                    // tableIns.reload();
                                }
                            });
                        });
                    break;
            }
            ;
        });
        $(function () {
            $("#search").click(function () {
                var content = $('#content').val();
                tableIns.reload({
                    where: { //设定异步数据接口的额外参数，任意设
                        content: content
                        //…
                    }
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            })
        });

    });

</script>
</body>
</html>